﻿@model Test_coffe.Models.Shops

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.images)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_open)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_open)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_close)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_close)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permalink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permalink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cities.id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_by)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
