﻿@model Test_coffe.Models.Cataloges

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cataloge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="permalink" class="control-label"></label>
                <input asp-for="permalink" class="form-control" />
                <span asp-validation-for="permalink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopsId" class="control-label"></label>
                <select asp-for="ShopsId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span asp-validation-for="ShopsId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
