﻿@*@model IEnumerable<Test_coffe.Models.Cataloge>*@
@model Test_coffe.Models.Cataloges

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/sweetalert2v8.11.8.css">
}

<section class="content-header">
    <div class="alert alert-success"></div>

    <h1>Index</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <a href="javascript:;" class="btn btn-primary btn-flat" onclick="user.openCreate()">
        Create
    </a>

</section>
<section class="content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.permalink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shops)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbList">
        </tbody>
    </table>
</section>

<!-- Modal -->
<div id="showCreate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="formCreate">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo Mới Danh Mục</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Danh Mục</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-3">
                                <label>Cửa Hàng</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="shop" name="shop" class="form-control">
                            </div>
                        </div>*@

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Cửa Hàng</label>
                        </div>
                        <div class="col-9">
                            @*<select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>*@
                            <select id="shop" class ="form-control" asp-items="ViewBag.ShopsId"></select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <input id="avatar" name="avatar" type="file" size="1" />

                        <img id="blah" src="#" alt="your image" width="50px" height="50px" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="user.save()" data-dismiss="modal">Tạo</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Modal2 -->
<div id="showEdit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="formEdit">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Danh Mục</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="nameEdit" name="nameEdit" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Cửa Hàng</label>
                        </div>
                        <div class="col-9">
                            @*<select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>*@
                            <select id="shopEdit" class="form-control" asp-items="ViewBag.ShopsId"></select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <img id="avatarPreEdit" src="#" width="50px" height="50px" />
                        <input id="avatarEdit" name="avatar" type="file" size="1" />

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="user.edit()" data-dismiss="modal">Sửa</a>

                </div>
            </div>
        </form>

    </div>
</div>


@section scripts{
    <script src="~/js/Cataloge2.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
}
