﻿@model Test_coffe.Models.Tables

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="permalink" class="control-label"></label>
                <input asp-for="permalink" class="form-control" />
                <span asp-validation-for="permalink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorsId" class="control-label"></label>
                <select asp-for="FloorsId" class="form-control" asp-items="ViewBag.FloorsId"></select>
                <span asp-validation-for="FloorsId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="deleted_at" class="control-label"></label>
                <input asp-for="deleted_at" class="form-control" />
                <span asp-validation-for="deleted_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_by" class="control-label"></label>
                <input asp-for="deleted_by" class="form-control" />
                <span asp-validation-for="deleted_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by" class="control-label"></label>
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_at" class="control-label"></label>
                <input asp-for="updated_at" class="form-control" />
                <span asp-validation-for="updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_by" class="control-label"></label>
                <input asp-for="updated_by" class="form-control" />
                <span asp-validation-for="updated_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

