
.custom-select-wrapper {
     position: relative;
     user-select: none;
     width: 100%;
}
 .custom-select {
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 0;
     border-radius: 0px;
     /*border-width: 0 1px 0 1px;*/
     /*border-style: solid;*/
     /*border-color: #394a6d;*/
}
 .custom-select__trigger {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 1.1rem;
     font-weight: 300;
     color: #3b3b3b;
     height: 40px;
     line-height: 40px;
     background: #ffffff;
     cursor: pointer;
     /*border-width: 1px 0 1px 0;*/
     /*border-style: solid;*/
     /*border-color: #394a6d;*/
     /*background-color: #ECECEC;*/
     border-bottom: solid 1px #ECECEC;
}
 .custom-options {
     position: absolute;
     display: block;
     max-height:288px;
     top: 100%;
     left: -1px;
     right: -1px;
     border: 1px solid #e0e0e0;
     /*border-bottom: solid 1px #e0e0e0;*/
     border-top: 0;
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
     overflow-y:auto;
}
 .custom-select.open .custom-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .custom-option {
     position: relative;
     display: block;
     border-bottom: solid 1px #e0e0e0;
     padding: 0 22px 0 22px;
     font-size: 1.1rem;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 40px;
     cursor: pointer;
     transition: all 0.5s;
}
 .custom-option:hover {
     cursor: pointer;
     color: #ffffff;
     background-color: #c8102e;
}
 .custom-option.selected {
     color: #ffffff;
     background-color: #b2b2b2;
}


.arrow {
     position: relative;
     height: 12px;
     width: 12px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.12rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -4px;
     transform: rotate(45deg);
     background-color: #394a6d;
}
 .arrow::after {
     left: 4px;
     transform: rotate(-45deg);
     background-color: #394a6d;
}
 .open .arrow::before {
     left: -4px;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     left: 4px;
     transform: rotate(45deg);
}