﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCafe</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.4.1.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.style.css">

</head>

<body>
    <div id="main">
        <div id="nav-top">
            <nav class="nav_tablet_mobile hide-on-pc">

                <div class="" style="float: right; padding-right: 10px; padding-top: 10px;">
                    <a href="javascript:void(0);" class="nav_mobile-link nav-logout"><i class="fa fa-cog"></i></a>
                </div>
            </nav>
        </div>
        <div class="container">
            <div id="list-table">
                <div class="list-table-mobile">

                </div>
                <div class="list-table-extend-mobile">
                    <button class="" style="background-color: transparent; border: 0; color: #fff;">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button class="" style="background-color: transparent; border: 0; color: #fff; display: none;"><i class="fa fa-caret-up"></i></button>
                </div>
            </div>
            <input type="checkbox" hidden class="nav_input" id="nav-extend-table-input">

            <div class="main-order-left">
                <div class="group-items">

                </div>
                <div class="group-list-items-mobile">

                </div>
            </div>

            <div class="main-order-right">
                <div id="main-order-1" class="main-order-right main-order" style="display: block;">
                    <div class="order-group-item">
                        <div class="menu-group-item active">
                            <p>Thanh toán</p>
                        </div>
                        <div class="menu-group-item">
                            <p>Gọi món</p>
                        </div>
                        <div class="menu-group-item">
                            <p>Lịch sử</p>
                        </div>
                    </div>
                    <div class="menu-order">
                        <div id="table-order-name" class="table-name">

                        </div>
                        <div id="table-bill-1" class="table-bill">

                        </div>
                        <div id="sub-total-money-1" class="sub-total-money">
                            <div class="col-md-8">
                                <p><b>Tiền sản phẩm</b></p>
                                <p>Phí dịch vụ</p>
                            </div>
                            <div class="col-md-4" style="text-align: right;">
                            </div>
                        </div>
                        <div id="total-money-1" class="total-money">
                            <div class="col-md-8">
                                <p><b>Tổng tiền</b></p>
                            </div>
                            <div class="col-md-4" style="text-align: right;">

                            </div>
                        </div>
                        <!-- <div class="checkout">
                            <button type="button" class="btn btn-success">Đặt món cho khách bàn 01</button>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <label class="nav_overlay_mobile"></label>


    <div class="col-md-12 cart-checkout-fix">
        <a href="cart" class="cart-checkout">
            <div class="col-md-2 cart-count-total" style="text-align: center;"></div>
            <div class="col-md-8 cart-money-total" style="text-align: center;"><span></span></div>
            <div class="col-md-2" style="text-align: right;">
                <img src="images/arrow-right.png" height="16px">
                <!-- <i class="fa fa-arrow-right"></i> -->
            </div>
        </a>
    </div>


    <div class="nav-bottom">
        <nav class="nav_tablet_mobile">
            <ul class="nav_mobile-list">
                <li>
                    <div class="">
                        <a href="index" class="nav_mobile-link active">
                            <i class="fa fa-home"></i>
                            <p style="margin-top: -10px;"><span>Trang chủ</span></p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-table"></i>
                            <p style="margin-top: -10px;"><span>Bàn</span></p>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="">
                        <a href="" class="nav_mobile-link">
                            <i class="fa fa-inbox"></i>
                            <p style="margin-top: -10px;"><span>Tin nhắn</span></p>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="" class="nav_mobile-link">
                        <i class="fa fa-bell" style="position: absolute; top: 6px; left: 39px;"></i>
                        <span class="label label-danger" style="top: -10px; position: relative; left: 20px;">99+</span>
                        <p style="margin-top: -10px;"><span>Thông báo</span></p>
                    </a>
                </li>
                <li>
                    <div class="">
                        <a href="/" class="nav_mobile-link">
                            <i class="fa fa-user"></i>
                            <p style="margin-top: -10px;"><span>Tài khoản</span></p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="js/bootstrap-4.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/mobile/js/tables.js"></script>
    <script type="text/javascript" src="js/json.js"></script>
    <script type="text/javascript" src="js/custom.script.js"></script>

</body>
</html>

