﻿@model Test_coffe.Models.Bills

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_enter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_enter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_out)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sub_total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sub_total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fee_service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fee_service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_money)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tables.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_by)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
