﻿@model Test_coffe.Models.Bills

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="time_enter" class="control-label"></label>
                <input asp-for="time_enter" class="form-control" />
                <span asp-validation-for="time_enter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_out" class="control-label"></label>
                <input asp-for="time_out" class="form-control" />
                <span asp-validation-for="time_out" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sub_total" class="control-label"></label>
                <input asp-for="sub_total" class="form-control" />
                <span asp-validation-for="sub_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fee_service" class="control-label"></label>
                <input asp-for="fee_service" class="form-control" />
                <span asp-validation-for="fee_service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_money" class="control-label"></label>
                <input asp-for="total_money" class="form-control" />
                <span asp-validation-for="total_money" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TablesId" class="control-label"></label>
                <select asp-for="TablesId" class="form-control" asp-items="ViewBag.TableId"></select>
                <span asp-validation-for="TablesId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="deleted_at" class="control-label"></label>
                <input asp-for="deleted_at" class="form-control" />
                <span asp-validation-for="deleted_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_by" class="control-label"></label>
                <input asp-for="deleted_by" class="form-control" />
                <span asp-validation-for="deleted_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by" class="control-label"></label>
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_at" class="control-label"></label>
                <input asp-for="updated_at" class="form-control" />
                <span asp-validation-for="updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_by" class="control-label"></label>
                <input asp-for="updated_by" class="form-control" />
                <span asp-validation-for="updated_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

