﻿@model IEnumerable<Test_coffe.Models.Cities>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/sweetalert2v8.11.8.css">
}

<section class="content-header">
    <div class="alert alert-success"></div>

    <h1>Index</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <a href="javascript:;" class="btn btn-primary btn-flat" onclick="user.openCreate()">
        Create
    </a>

</section>

<section class="content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.name)*@
                    Thành Phố
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.permalink)
                </th>
               
                <th></th>
                <th></th>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.permalink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deleted_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deleted_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updated_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updated_by)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>*@

        <tbody id="tbList">
        </tbody>
    </table>
</section>


<!-- Modal -->
<div id="showCreate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="formCreate">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo Mới Thành Phố</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Thành Phố</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>

                    @*<div class="row form-group">
                        <div class="col-3">
                            <label>permalink</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="permalink" name="permalink" class="form-control">
                        </div>
                    </div>*@
                    <div class="row form-group">
                        <input onchange="readURL(this,'#blah')" id="avatar" name="avatar" type="file" size="1" />

                        <img id="blah" src="#" alt="your image" width="50px" height="50px" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="user.save()" data-dismiss="modal">Tạo</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Modal2 -->
<div id="showEdit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="formEdit">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Thành Phố</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="nameEdit" name="nameEdit" class="form-control">
                        </div>
                    </div>

                    @*<div class="row form-group">
                        <div class="col-3">
                            <label>permalink</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="permalinkEdit" name="permalinkEdit" class="form-control">
                        </div>
                    </div>*@

                    <div class="row form-group">
                        <img id="avatarPreEdit" src="#" width="50px" height="50px" />
                        <input id="avatarEdit" name="avatar" type="file" size="1" />


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="user.edit()" data-dismiss="modal">Sửa</a>

                </div>
            </div>
        </form>

    </div>
</div>


@section scripts{
    <script src="~/js/City2.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
}
