﻿@model IEnumerable<Test_coffe.Models.Floors>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/custom-style.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>

    <div id="main">
        <div class="input-group mb-3">
            <div class="card">
                <div class="card-header">
                    <h5>Tạo Tầng Mới</h5>
                </div>
                <div class="card-body">
                    <input type="text" id="item" class="form-control col-sm-9 mr-3" placeholder="Tên Tầng Mới" aria-label="New Product" aria-describedby="button-addon2" ng-model="item">                  
                    <button class="btn btn-primary col-sm-2 border-0 mb-2" type="button" id="button-addon2" onclick="addItem(item.value); item.value = null;"><i class="fa fa-plus create-btn"></i>Tạo</button>
                </div>

            </div>
        </div>

        <h5>Danh Sách Tầng</h5>

        <div>
            <table id="dtProducts" class="table table-striped border-top-0" cellspacing="0" width="100%">
                <thead>
                    <tr class="border-top-0">
                        <th scope="col">#</th>
                        <th scope="col">Tên Tầng</th>
                        <th scope="col"></th>
                        <th scope="col"><span id="countItem" class="text-danger"></span></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/permalink.js"></script>
    <script src="~/js/floor.js"></script>
</body>
</html>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>

    <script type="text/javascript" src="~/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.12.1.js"></script>
    <script src="../AdminLTE-3.0.2/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="../AdminLTE-3.0.2/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../AdminLTE-3.0.2/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-4.4.1.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/permalink.js"></script>
    <script src="~/js/tablefloor.js"></script>*@
@*<script src="~/js/product1.js"></script>*@

